<html>
	<head>
		<meta charset="UTF-8">	
		<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/forms.css') }}" />
	</head>

	<body>

		<div class="container">
			<h1>SurveyFour</h1>
			 
			 <nav class="navbar navbar-light bg-light navbar-expand-lg">
			 	<a class="nav-item nav-link" href="{{ path('surveyFourDefault') }}">Home</a>
				<a class="nav-item nav-link" href="{{ path('userAdminDefault') }}">User Admin</a>
				<a class="nav-item nav-link" href="{{ path('surveysDefault') }}">Surveys</a>
			</nav>


			{% block domainBody %}{% endblock %}
        <!-- {% block javascripts %}{% endblock %} -->

		<!-- <script src="./js/dist/bundle.js"></script> -->
		</div>
	</body>
</html>